<div class="d-sm-flex align-items-center justify-content-between mb-4">

<div class="row">

    <div class="col-xl-12 col-lg-12">


        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">Dashboard</h5>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>

            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">

                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">ss</h6>

                            </div>
                            <div class="card-body">

                                <div class="d-flex justify-content-center mb-lg-2">

                                    <h3 class="indicatorValue bold good indicator-status">75</h3>

                                </div>

                                <h6><strong>Status:</strong>
                                    <span class="status" class="bold text-good"> good</span>
                                </h6>
                                <h6><strong>Performance:</strong>
                                    <span class="perf text-good">14</span>
                                </h6>
                                <ul>
                                    <li>
                                        <strong>Target Value:</strong>
                                        100(%)
                                    </li>
                                    <li>
                                        <strong>Acceptable Value:</strong>
                                        70(%)
                                    </li>
                                </ul>

                                <h6> <strong>Evaluation Date:</strong>1-1-2000</h6>
                                <h6><strong>Next Evaluation Date:</strong>1-2-2022</h6>


                                <div class="d-flex justify-content-between">
                                    <span></span>

                                    <a href="">Details ...</a>
                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">

                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">ss</h6>

                            </div>
                            <div class="card-body">

                                <div class="d-flex justify-content-center mb-lg-2">

                                    <h3 class="indicatorValue bold indicator-status">75</h3>

                                </div>

                                <h5><strong>Status:</strong>
                                    <span class="status" class="bold">good</span>
                                </h5>
                                <h5><strong>Performance:</strong>
                                    <span class="perf">14</span>
                                </h5>
                                <ul>
                                    <li>
                                        <strong>Target Value:</strong>
                                        100(%)
                                    </li>
                                    <li>
                                        <strong>Acceptable Value:</strong>
                                        70(%)
                                    </li>
                                </ul>

                                <h6> <strong>Evaluation Date:</strong>1-1-2000</h6>
                                <h6><strong>Next Evaluation Date:</strong>1-2-2022</h6>


                                <div class="d-flex justify-content-between">
                                    <span></span>

                                    <a href="">Details ...</a>
                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">

                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">ss</h6>

                            </div>
                            <div class="card-body">

                                <div class="d-flex justify-content-center mb-lg-2">

                                    <h3 class="indicatorValue bold indicator-status">75</h3>

                                </div>

                                <h5><strong>Status:</strong>
                                    <span class="status" class="bold">good</span>
                                </h5>
                                <h5><strong>Performance:</strong>
                                    <span class="perf">14</span>
                                </h5>
                                <ul>
                                    <li>
                                        <strong>Target Value:</strong>
                                        100(%)
                                    </li>
                                    <li>
                                        <strong>Acceptable Value:</strong>
                                        70(%)
                                    </li>
                                </ul>

                                <h6> <strong>Evaluation Date:</strong>1-1-2000</h6>
                                <h6><strong>Next Evaluation Date:</strong>1-2-2022</h6>


                                <div class="d-flex justify-content-between">
                                    <span></span>

                                    <a href="">Details ...</a>
                                </div>


                            </div>

                        </div>

                    </div>


                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">

                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">ss</h6>

                            </div>
                            <div class="card-body">

                                <div class="d-flex justify-content-center mb-lg-2">

                                    <h3 class="indicatorValue bold indicator-status">75</h3>

                                </div>

                                <h5><strong>Status:</strong>
                                    <span class="status" class="bold">good</span>
                                </h5>
                                <h5><strong>Performance:</strong>
                                    <span class="perf">14</span>
                                </h5>
                                <ul>
                                    <li>
                                        <strong>Target Value:</strong>
                                        100(%)
                                    </li>
                                    <li>
                                        <strong>Acceptable Value:</strong>
                                        70(%)
                                    </li>
                                </ul>

                                <h6> <strong>Evaluation Date:</strong>1-1-2000</h6>
                                <h6><strong>Next Evaluation Date:</strong>1-2-2022</h6>


                                <div class="d-flex justify-content-between">
                                    <span></span>

                                    <a href="">Details ...</a>
                                </div>


                            </div>

                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">

                            <!-- Card Header -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">ss</h6>

                            </div>
                            <div class="card-body">

                                <div class="d-flex justify-content-center mb-lg-2">

                                    <h3 class="indicatorValue bold indicator-status">75</h3>

                                </div>

                                <h5><strong>Status:</strong>
                                    <span class="status" class="bold">good</span>
                                </h5>
                                <h5><strong>Performance:</strong>
                                    <span class="perf">14</span>
                                </h5>
                                <ul>
                                    <li>
                                        <strong>Target Value:</strong>
                                        100(%)
                                    </li>
                                    <li>
                                        <strong>Acceptable Value:</strong>
                                        70(%)
                                    </li>
                                </ul>

                                <h6> <strong>Evaluation Date:</strong>1-1-2000</h6>
                                <h6><strong>Next Evaluation Date:</strong>1-2-2022</h6>


                                <div class="d-flex justify-content-between">
                                    <span></span>

                                    <a href="">Details ...</a>
                                </div>


                            </div>

                        </div>

                    </div>





                </div>
            </div>
        </div>
    </div>
    <script>
        var s = document.querySelectorAll('.status');
        for (let i = 0; i < s.length; i++) {
            s[i].classList.add('text-' + s[i].innerHTML);
            s[i].parentElement.previousElementSibling.childNodes[1].classList.add(s[i].innerHTML);
        }
        //                                var v = document.querySelector('#indicatorValue');
        //                                v.classList.add(s.innerHTML);
        var perf = document.querySelectorAll('.perf');
        for (let i = 0; i < perf.length; i++) {
            var val = parseFloat(perf[i].innerHTML);
            if (val >= 0) {
                perf[i].innerHTML = "&#8593 " + Math.abs(val);
                perf[i].classList.add('text-good');
            } else {
                perf[i].innerHTML = "&#8595 " + Math.abs(val);
                perf[i].classList.add('text-bad');

            }
        }
    </script>



</div>