
        <div class="col-xl-12 col-lg-12">


            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold text-primary">Dashboard</h5>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>

                </div>
                <div class="card-body">

                    <div class="row">


                        <ng-container *ngIf="evaluations.length<1">
                            <div class="d-flex justify-content-center bold">
                                No Evalaution available at the moment.
                            </div>
                        </ng-container>


                        <div *ngFor="let eval of evaluations" class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">

                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{{eval.indicator.name}}</h6>

                                </div>
                                <div class="card-body">

                                    <div class="d-flex justify-content-center mb-lg-2">

                                        <h3
                                            class="indicatorValue bold indicator-status {{eval.status?.toLocaleLowerCase()}}">
                                            {{eval.value}}</h3>

                                    </div>

                                    <h5><strong>Status: </strong>
                                        <span class="status"
                                            class="bold text-{{eval.status?.toLocaleLowerCase()}} ">{{eval.status}}</span>
                                    </h5>
                                    <h5><strong>Performance: </strong>
                                        <ng-container *ngIf="eval?.performance! >= 0;else down ">
                                            <span class="text-good bold">
                                                &#8593; {{eval.performance}}
                                            </span>

                                        </ng-container>
                                        <ng-template #down>
                                            <span class="text-bad bold">

                                                &#8595; {{eval.performance}}
                                            </span>
                                        </ng-template>
                                    </h5>
                                    <ul>
                                        <li>
                                            <strong>Target Value:</strong> {{eval.indicator.targetValue}}
                                            ({{eval.indicator.valueUnit}})
                                        </li>

                                        <li>
                                            <strong>Acceptable Value:</strong> {{eval.indicator.acceptableValue}}
                                            ({{eval.indicator.valueUnit}})
                                        </li>
                                    </ul>
                                    <h6> <strong>Evaluation Date:</strong>
                                        {{eval.evaluationDate.toString().substr(0,10)}}</h6>
                                    <h6><strong>Next Evaluation Date:</strong>
                                        {{eval.nextEvaluationDate!.toString().substr(0,10)}} </h6>


                                    <div class="d-flex justify-content-between">
                                        <span></span>

                                        <a routerLink="/indicator/{{eval.indicator.id}}">Details ...</a>
                                    </div>


                                </div>

                            </div>

                        </div>






                    </div>
                </div>
            </div>
        </div>
