<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">


        <h5 class="m-0 font-weight-bold text-primary">List of Application Concerned with security indicators </h5>

        <!-- Button trigger modal -->
        <button data-bs-toggle="modal" data-bs-target="#appForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add Application</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                         <th>ID</th>
                        <th>Application Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                        <tr *ngFor="let app of apps">
                            <td>{{app.id}}</td>
                            <td>{{app.name}}</td>

                            <td>
                                <button type="button" class="btn btn-danger btn-sm btn-icon-split" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteModal'+app.id">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete</span>
                                </button>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal{{app.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this Application?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button (click)="deleteApp(app)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>

                </tbody>
            </table>


        </div>

    </div>
</div>
<!-- Modal1 -->
<div class="modal fade" id="appForm" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalLabel">Add an Application </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="addApp" #myForm="ngForm"  (ngSubmit)="addApp()"  >
                <div class="row" >
                    <div class="col-md-10" >
                        <div class="form-group form-floating">

                            <input  type="text" class="form-control" placeholder="" ngModel name="appname" [(ngModel)]="appname" id="name" required>
                            <label for="name">Application's name</label>

                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button  [disabled]="!myForm.valid" type="submit" form="addApp"  class="btn btn-primary" data-bs-dismiss="modal" >
                <i class="fas fa-plus fa-sm text-white-50"></i> Add</button>
        </div>
    </div>
</div>
</div>