<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">


        <h5 class="m-0 font-weight-bold text-primary">List of Cybersecurity indicators</h5>



        <button *ngIf="this.authservice.isAdmin()" (click)="loadData()" data-bs-toggle="modal" data-bs-target="#indicatorForm"
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add Indicator</button>

    </div>
    <div class="card-body">

        <!--
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Evaluation </th>
                    <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Performance </th>
                    <td mat-cell *matCellDef="let row"> {{row.type}}% </td>
                </ng-container>


                <ng-container matColumnDef="acceptableValue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Next Evaluation Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.acceptableValue}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let row">
                        <a
                        (click)="indicatorDetails()"
                        class="btn btn-info btn-sm btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-list"></i>
                            </span>
                            <span class="text">Details</span>
                        </a>
                    </td>
                  </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="5">No data Available</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
 -->


        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th *ngIf="this.authservice.isAdmin()"></th>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Performance</th>
                        <th>Next Evaluation Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>




                    <tr *ngFor="let e of evals">
                        <td *ngIf="this.authservice.isAdmin()">
                            <mat-checkbox (ngModelChange)="edit(e.indicator)"
                                [(ngModel)]="e.indicator.checked"></mat-checkbox>
                        </td>
                        <td>
                            {{e.indicator.name}}
                        </td>
                        <td>
                            <span class="bold text-{{e.status?.toLocaleLowerCase()}}">
                                {{e.value}}
                            </span>
                        </td>
                        <td>
                            <ng-container *ngIf="e?.performance! >= 0;else down ">
                                <span class="text-good bold">
                                    &#8593; {{e.performance}}
                                </span>

                            </ng-container>

                        </td>
                        <ng-template #down>
                            <span class="text-bad bold">

                                &#8595; {{e.performance}}
                            </span>
                        </ng-template>
                        <td>
                            {{e.nextEvaluationDate?.toString()?.substring(0,9)}}
                        </td>

                        <td>
                            <a routerLink="{{e.indicator.id}}" class="btn btn-info btn-sm btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-list"></i>
                                </span>
                                <span class="text">Details</span>
                            </a>



                        </td>
                    </tr>

                    <tr *ngFor="let indicator of indicators">
                        <td *ngIf="this.authservice.isAdmin()"></td>
                        <td>
                            {{indicator.name}}
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            N/A
                        </td>
                        <td>
                            -/-/-
                        </td>

                        <td>
                            <a routerLink="{{indicator.id}}" class="btn btn-info btn-sm btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-list"></i>
                                </span>
                                <span class="text">Details</span>
                            </a>



                        </td>
                    </tr>






                </tbody>
            </table>


        </div>
    </div>
</div>





<div *ngIf="this.authservice.isAdmin()" class="modal fade" id="indicatorForm" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">Add a CyberSecurity Indicator</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addIndicator" (ngSubmit)="addIndicator()" #myForm="ngForm">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group form-floating">

                                <input type="text" class="form-control" placeholder="" name="name" [(ngModel)]="name"
                                    id="name" required>
                                <label for="name">Indicator's name</label>

                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-floating">

                                        <input type="text" class="form-control" placeholder="" name="type"
                                            [(ngModel)]="type" id="type" required>
                                        <label for="type">Type</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-floating">

                                        <input list="catid" type="text" class="form-control" placeholder=""
                                            name="category" [(ngModel)]="category" id="category" required>
                                        <label for="category">Category</label>

                                    </div>
                                </div>

                            </div>
                            <div class="form-group form-floating">

                                <input type="text" class="form-control" placeholder="" name="benefit"
                                    [(ngModel)]="benefit" id="benefits" required>
                                <label for="benefits">Benefits</label>

                            </div>


                            <div class="form-group form-floating">

                                <textarea maxlength="1000" class="form-control" placeholder="" name="description"
                                    [(ngModel)]="description" id="description" required rows="5" cols="10"></textarea>
                                <label for="description">Description</label>

                            </div>

                            <div class="form-group form-floating">

                                <textarea maxlength="1000" class="form-control" placeholder="" name="howtomeasure"
                                    [(ngModel)]="howtomeasure" id="measure" required rows="5" cols="10"></textarea>
                                <label for="measure">How to measure</label>

                            </div>


                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-floating">

                                <select id="frenquency" class="form-select" name="frequency" [(ngModel)]="frequency">
                                    <option value="monthly">Monthly</option>
                                    <option value="quarterly">Quarterly</option>
                                    <option value="annually">Annually</option>
                                </select>
                                <label for="frenquency">Frequency</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group form-floating">

                                        <input min="0" type="number" class="form-control" placeholder="" name="target"
                                            [(ngModel)]="targetValue" id="target" required>
                                        <label for="target">Target value</label>

                                    </div>
                                    <div class="form-group form-floating">

                                        <input min="0" type="number" class="form-control" placeholder="" name="accept"
                                            [(ngModel)]="acceptableValue" id="accept" required>
                                        <label for="accept">Acceptable value</label>

                                    </div>

                                </div>
                                <div class="col-md-6">



                                    <div class="form-group form-floating">
                                        <select id="perf" class="form-select" name="peformence"
                                            [(ngModel)]="performance">
                                            <option value="asc">&#8593; Increment</option>
                                            <option value="desc">&#8595; Decrement</option>

                                        </select>
                                        <label for="perf">Performance Indicator</label>
                                    </div>



                                    <div class="form-group form-floating">
                                        <select id="unit" class="form-select" name="valueUnit" [(ngModel)]="valueUnit">
                                            <option value="%">percentage </option>
                                            <option value="nomber">Number</option>
                                        </select>
                                        <label for="unit">Indicator Unit</label>
                                    </div>



                                </div>
                            </div>




                            <div class="form-group form-floating">

                                <input type="text" class="form-control" placeholder="" name="infoOwner"
                                    [(ngModel)]="infoOwner" id="infoOwnwer" required>
                                <label for="infoOwnwer">Information Owner</label>

                            </div>
                            <div class="form-group form-floating">

                                <input type="text" class="form-control" placeholder="" name="infoCollector"
                                    [(ngModel)]="infoCollector" id="infoCollector" required>
                                <label for="infoCollector">Information Collector</label>

                            </div>
                            <div class="form-group form-floating">

                                <input type="text" class="form-control" placeholder="" name="infoCustomer"
                                    [(ngModel)]="infoCustomer" id="infoCustomer" required>
                                <label for="infoCustomer">Information Customer</label>

                            </div>

                            <div class="applist">

                                <div *ngFor="let app of listapp">

                                    <input name="apps" type="checkbox" value="{{app.id}}"><span>
                                        {{app.name}}
                                    </span>
                                </div>



                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addIndicator" class="btn btn-primary" data-bs-dismiss="modal"> <i
                        class="fas fa-plus fa-sm text-white-50"></i> Add</button>
            </div>
        </div>
    </div>
</div>








<datalist id="catid">
    <option value="Security policy"> Security policy</option>
    <option value="Organization of information security"> Organization of information security</option>
    <option value="Asset management"> Asset management</option>
    <option value="Human resources security"> Human resources security</option>
    <option value="Physical and environmental security"> Physical and environmental security</option>
    <option value="Communications and operations management"> Communications and operations management</option>
    <option value="Access control"> Access control</option>
    <option value="Information systems acquisition, development, and maintenance"> Information systems acquisition,
        development, and maintenance</option>
    <option value="Information security incident management"> Information security incident management</option>
    <option value="Business continuity management"> Business continuity management</option>
    <option value="Compliance"> Compliance</option>
    <option value="Cryptography"> Cryptography</option>
    <option value="Operations security"> Operations security</option>
    <option value="Network security management"> Network security management</option>
    <option value="Information security risk assessment and treatment"> Information security risk assessment and
        treatment</option>
    <option value="Supplier relationships"> Supplier relationships</option>
    <option value="System and application security"> System and application security</option>
    <option value="Information security monitoring and review"> Information security monitoring and review</option>
</datalist>